.form-login {
    max-width: 300px;
    margin: 0 auto;
}

.form-login .form-login-heading,
.form-login .checkbox {
    margin-bottom: 10px;
}

.form-login .form-login-heading {
    margin-bottom: 20px;
}

.form-login .form-control {
    height: auto;
    padding: 10px;
    margin-bottom:10px;
    font-size: 16px;
}

.form-login.register{
    margin-top: 10px;
}

.form-login.recover {
    margin-top: 25px;
    text-align: center;
}
